-- CreateTable
CREATE TABLE "audit_logs" (
    "id" TEXT NOT NULL,
    "entity_type" TEXT NOT NULL,
    "entity_id" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "user_name" TEXT NOT NULL,
    "changes" JSONB NOT NULL,
    "ip_address" TEXT,
    "user_agent" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "audit_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "currency_rates" (
    "id" TEXT NOT NULL,
    "from_currency" TEXT NOT NULL,
    "to_currency" TEXT NOT NULL,
    "rate" DECIMAL(15,6) NOT NULL,
    "date" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "source" TEXT NOT NULL DEFAULT 'manual',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "currency_rates_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tax_types" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "rate" DECIMAL(5,2) NOT NULL,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "rules" JSONB,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "tax_types_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tax_transactions" (
    "id" TEXT NOT NULL,
    "reference" TEXT NOT NULL,
    "reference_type" TEXT NOT NULL,
    "tax_type_id" TEXT NOT NULL,
    "taxable_amount" DECIMAL(15,2) NOT NULL,
    "tax_amount" DECIMAL(15,2) NOT NULL,
    "rate" DECIMAL(5,2) NOT NULL,
    "currency" TEXT NOT NULL DEFAULT 'USD',
    "exchange_rate" DECIMAL(15,6) NOT NULL DEFAULT 1,
    "posted_to_tarms" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "branch_id" TEXT,

    CONSTRAINT "tax_transactions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "withholding_tax_certificates" (
    "id" TEXT NOT NULL,
    "certificate_no" TEXT NOT NULL,
    "supplier_id" TEXT NOT NULL,
    "supplier_name" TEXT NOT NULL,
    "supplier_tin" TEXT,
    "invoice_ref" TEXT NOT NULL,
    "gross_amount" DECIMAL(15,2) NOT NULL,
    "wht_amount" DECIMAL(15,2) NOT NULL,
    "rate" DECIMAL(5,2) NOT NULL,
    "itf263_verified" BOOLEAN NOT NULL DEFAULT false,
    "period" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "withholding_tax_certificates_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "fdms_devices" (
    "id" TEXT NOT NULL,
    "device_id" TEXT NOT NULL,
    "serial_no" TEXT NOT NULL,
    "activation_key" TEXT,
    "certificate" TEXT,
    "private_key" TEXT,
    "status" TEXT NOT NULL DEFAULT 'registered',
    "fiscal_day_no" INTEGER NOT NULL DEFAULT 0,
    "receipt_counter" INTEGER NOT NULL DEFAULT 0,
    "receipt_global_no" INTEGER NOT NULL DEFAULT 0,
    "last_sync_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "branch_id" TEXT,

    CONSTRAINT "fdms_devices_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "fiscalised_documents" (
    "id" TEXT NOT NULL,
    "document_type" TEXT NOT NULL,
    "document_ref" TEXT NOT NULL,
    "device_id" TEXT NOT NULL,
    "fiscal_day_no" INTEGER NOT NULL,
    "receipt_no" INTEGER NOT NULL,
    "receipt_global_no" INTEGER NOT NULL,
    "auth_code" TEXT,
    "qr_code_data" TEXT,
    "qr_code_url" TEXT,
    "submitted_at" TIMESTAMP(3),
    "status" TEXT NOT NULL DEFAULT 'pending',
    "error_message" TEXT,
    "retry_count" INTEGER NOT NULL DEFAULT 0,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "branch_id" TEXT,

    CONSTRAINT "fiscalised_documents_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_chart_of_accounts" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "category" TEXT,
    "is_header" BOOLEAN NOT NULL DEFAULT false,
    "parent_id" TEXT,
    "balance" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "currency" TEXT NOT NULL DEFAULT 'USD',
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "erp_chart_of_accounts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_journal_entries" (
    "id" TEXT NOT NULL,
    "entry_number" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "entry_date" TIMESTAMP(3) NOT NULL,
    "period" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'draft',
    "posted_at" TIMESTAMP(3),
    "posted_by" TEXT,
    "currency" TEXT NOT NULL DEFAULT 'USD',
    "exchange_rate" DECIMAL(15,6) NOT NULL DEFAULT 1,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "branch_id" TEXT,

    CONSTRAINT "erp_journal_entries_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_journal_lines" (
    "id" TEXT NOT NULL,
    "entry_id" TEXT NOT NULL,
    "account_id" TEXT NOT NULL,
    "description" TEXT,
    "debit" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "credit" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "currency" TEXT NOT NULL DEFAULT 'USD',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "erp_journal_lines_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_accounts_receivable" (
    "id" TEXT NOT NULL,
    "invoice_number" TEXT NOT NULL,
    "customer_id" TEXT NOT NULL,
    "customer_name" TEXT NOT NULL,
    "invoice_date" TIMESTAMP(3) NOT NULL,
    "due_date" TIMESTAMP(3) NOT NULL,
    "amount" DECIMAL(15,2) NOT NULL,
    "paid_amount" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "balance" DECIMAL(15,2) NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "currency" TEXT NOT NULL DEFAULT 'USD',
    "description" TEXT,
    "journal_entry_id" TEXT,
    "fiscalised_doc_id" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "branch_id" TEXT,

    CONSTRAINT "erp_accounts_receivable_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_accounts_payable" (
    "id" TEXT NOT NULL,
    "bill_number" TEXT NOT NULL,
    "supplier_id" TEXT NOT NULL,
    "supplier_name" TEXT NOT NULL,
    "bill_date" TIMESTAMP(3) NOT NULL,
    "due_date" TIMESTAMP(3) NOT NULL,
    "amount" DECIMAL(15,2) NOT NULL,
    "paid_amount" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "balance" DECIMAL(15,2) NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "currency" TEXT NOT NULL DEFAULT 'USD',
    "description" TEXT,
    "journal_entry_id" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "branch_id" TEXT,

    CONSTRAINT "erp_accounts_payable_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_cashbook" (
    "id" TEXT NOT NULL,
    "entry_number" TEXT NOT NULL,
    "entry_date" TIMESTAMP(3) NOT NULL,
    "type" TEXT NOT NULL,
    "account_id" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "amount" DECIMAL(15,2) NOT NULL,
    "currency" TEXT NOT NULL DEFAULT 'USD',
    "exchange_rate" DECIMAL(15,6) NOT NULL DEFAULT 1,
    "reference" TEXT,
    "status" TEXT NOT NULL DEFAULT 'posted',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "branch_id" TEXT,

    CONSTRAINT "erp_cashbook_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_products" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "category_id" TEXT,
    "unit" TEXT NOT NULL DEFAULT 'each',
    "cost_price" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "selling_price" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "stock" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "min_stock" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "max_stock" DECIMAL(15,2) DEFAULT 0,
    "location" TEXT,
    "barcode" TEXT,
    "costing_method" TEXT NOT NULL DEFAULT 'weighted_average',
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "grade" TEXT,
    "purity" DECIMAL(5,2),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "branch_id" TEXT,

    CONSTRAINT "erp_products_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_product_categories" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "parent_id" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "erp_product_categories_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_product_batches" (
    "id" TEXT NOT NULL,
    "product_id" TEXT NOT NULL,
    "batch_no" TEXT NOT NULL,
    "serial_no" TEXT,
    "quantity" DECIMAL(15,2) NOT NULL,
    "cost_price" DECIMAL(15,2) NOT NULL,
    "received_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "expiry_date" TIMESTAMP(3),
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "erp_product_batches_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_sales_orders" (
    "id" TEXT NOT NULL,
    "order_number" TEXT NOT NULL,
    "customer_id" TEXT NOT NULL,
    "customer_name" TEXT NOT NULL,
    "order_date" TIMESTAMP(3) NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'draft',
    "subtotal" DECIMAL(15,2) NOT NULL,
    "tax_amount" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "discount" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "total" DECIMAL(15,2) NOT NULL,
    "currency" TEXT NOT NULL DEFAULT 'USD',
    "exchange_rate" DECIMAL(15,6) NOT NULL DEFAULT 1,
    "notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "branch_id" TEXT,

    CONSTRAINT "erp_sales_orders_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_sales_order_lines" (
    "id" TEXT NOT NULL,
    "order_id" TEXT NOT NULL,
    "product_id" TEXT NOT NULL,
    "product_name" TEXT NOT NULL,
    "quantity" DECIMAL(15,2) NOT NULL,
    "unit_price" DECIMAL(15,2) NOT NULL,
    "total" DECIMAL(15,2) NOT NULL,

    CONSTRAINT "erp_sales_order_lines_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_purchase_orders" (
    "id" TEXT NOT NULL,
    "po_number" TEXT NOT NULL,
    "supplier_id" TEXT NOT NULL,
    "supplier_name" TEXT NOT NULL,
    "order_date" TIMESTAMP(3) NOT NULL,
    "expected_date" TIMESTAMP(3),
    "status" TEXT NOT NULL DEFAULT 'draft',
    "subtotal" DECIMAL(15,2) NOT NULL,
    "tax_amount" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "total" DECIMAL(15,2) NOT NULL,
    "currency" TEXT NOT NULL DEFAULT 'USD',
    "exchange_rate" DECIMAL(15,6) NOT NULL DEFAULT 1,
    "notes" TEXT,
    "requisition_id" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "branch_id" TEXT,

    CONSTRAINT "erp_purchase_orders_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_purchase_order_lines" (
    "id" TEXT NOT NULL,
    "po_id" TEXT NOT NULL,
    "product_id" TEXT NOT NULL,
    "product_name" TEXT NOT NULL,
    "quantity" DECIMAL(15,2) NOT NULL,
    "received_qty" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "unit_price" DECIMAL(15,2) NOT NULL,
    "total" DECIMAL(15,2) NOT NULL,

    CONSTRAINT "erp_purchase_order_lines_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_goods_receipts" (
    "id" TEXT NOT NULL,
    "receipt_no" TEXT NOT NULL,
    "po_id" TEXT NOT NULL,
    "supplier_id" TEXT,
    "supplier_name" TEXT,
    "received_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "notes" TEXT,
    "inspected_by" TEXT,
    "inspection_status" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "branch_id" TEXT,

    CONSTRAINT "erp_goods_receipts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_goods_receipt_lines" (
    "id" TEXT NOT NULL,
    "receipt_id" TEXT NOT NULL,
    "product_id" TEXT NOT NULL,
    "product_name" TEXT NOT NULL,
    "po_line_id" TEXT NOT NULL,
    "quantity" DECIMAL(15,2) NOT NULL,
    "batch_no" TEXT,
    "serial_no" TEXT,
    "location" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "erp_goods_receipt_lines_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_purchase_requisitions" (
    "id" TEXT NOT NULL,
    "requisition_no" TEXT NOT NULL,
    "requested_by" TEXT NOT NULL,
    "department" TEXT NOT NULL,
    "required_date" TIMESTAMP(3) NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'draft',
    "notes" TEXT,
    "approved_by" TEXT,
    "approved_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "branch_id" TEXT,

    CONSTRAINT "erp_purchase_requisitions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_purchase_requisition_items" (
    "id" TEXT NOT NULL,
    "requisition_id" TEXT NOT NULL,
    "product_id" TEXT NOT NULL,
    "product_name" TEXT NOT NULL,
    "quantity" DECIMAL(15,2) NOT NULL,
    "estimated_cost" DECIMAL(15,2) NOT NULL,
    "notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "erp_purchase_requisition_items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_customers" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "type" TEXT NOT NULL DEFAULT 'company',
    "segment" TEXT DEFAULT 'retail',
    "contact_person" TEXT,
    "email" TEXT,
    "phone" TEXT,
    "mobile" TEXT,
    "address" TEXT,
    "city" TEXT,
    "country" TEXT,
    "tax_id" TEXT,
    "vat_number" TEXT,
    "tin_number" TEXT,
    "credit_limit" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "balance" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "notes" TEXT,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "loyalty_card_barcode" TEXT,
    "loyalty_points" INTEGER NOT NULL DEFAULT 0,
    "total_spent" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "card_balance" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "branch_id" TEXT,

    CONSTRAINT "erp_customers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_leads" (
    "id" TEXT NOT NULL,
    "customer_id" TEXT,
    "company_name" TEXT NOT NULL,
    "contact_name" TEXT NOT NULL,
    "email" TEXT,
    "phone" TEXT,
    "source" TEXT,
    "stage" TEXT NOT NULL DEFAULT 'new',
    "value" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "probability" INTEGER NOT NULL DEFAULT 0,
    "assigned_to" TEXT,
    "notes" TEXT,
    "expected_close_date" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "erp_leads_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_lead_interactions" (
    "id" TEXT NOT NULL,
    "lead_id" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "subject" TEXT NOT NULL,
    "notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "erp_lead_interactions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_suppliers" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "contact_person" TEXT,
    "email" TEXT,
    "phone" TEXT,
    "address" TEXT,
    "city" TEXT,
    "country" TEXT,
    "tax_id" TEXT,
    "vat_number" TEXT,
    "tin_number" TEXT,
    "itf263_status" TEXT NOT NULL DEFAULT 'unknown',
    "itf263_expiry" TIMESTAMP(3),
    "itf263_doc_url" TEXT,
    "payment_terms" TEXT,
    "balance" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "performance_score" INTEGER,
    "category" TEXT DEFAULT 'general',
    "blacklisted" BOOLEAN NOT NULL DEFAULT false,
    "notes" TEXT,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "branch_id" TEXT,

    CONSTRAINT "erp_suppliers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_supplier_contracts" (
    "id" TEXT NOT NULL,
    "supplier_id" TEXT NOT NULL,
    "contract_no" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "start_date" TIMESTAMP(3) NOT NULL,
    "end_date" TIMESTAMP(3) NOT NULL,
    "value" DECIMAL(15,2) NOT NULL,
    "currency" TEXT NOT NULL DEFAULT 'USD',
    "status" TEXT NOT NULL DEFAULT 'active',
    "terms" TEXT,
    "doc_url" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "erp_supplier_contracts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_warehouses" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "location" TEXT,
    "type" TEXT NOT NULL DEFAULT 'standard',
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "erp_warehouses_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_warehouse_zones" (
    "id" TEXT NOT NULL,
    "warehouse_id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "type" TEXT NOT NULL DEFAULT 'storage',
    "capacity" DECIMAL(15,2),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "erp_warehouse_zones_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_warehouse_stocks" (
    "id" TEXT NOT NULL,
    "warehouse_id" TEXT NOT NULL,
    "product_id" TEXT NOT NULL,
    "quantity" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "location" TEXT,
    "batch_no" TEXT,
    "serial_no" TEXT,

    CONSTRAINT "erp_warehouse_stocks_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_stock_movements" (
    "id" TEXT NOT NULL,
    "movement_no" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "product_id" TEXT NOT NULL,
    "product_name" TEXT NOT NULL,
    "quantity" DECIMAL(15,2) NOT NULL,
    "from_warehouse_id" TEXT,
    "to_warehouse_id" TEXT,
    "reference_type" TEXT,
    "reference_id" TEXT,
    "notes" TEXT,
    "user_id" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "branch_id" TEXT,

    CONSTRAINT "erp_stock_movements_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_cycle_counts" (
    "id" TEXT NOT NULL,
    "count_no" TEXT NOT NULL,
    "warehouse_id" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'draft',
    "counted_by" TEXT NOT NULL,
    "counted_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "approved_by" TEXT,
    "notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "erp_cycle_counts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_cycle_count_lines" (
    "id" TEXT NOT NULL,
    "count_id" TEXT NOT NULL,
    "product_id" TEXT NOT NULL,
    "product_name" TEXT NOT NULL,
    "expected_qty" DECIMAL(15,2) NOT NULL,
    "counted_qty" DECIMAL(15,2) NOT NULL,
    "variance" DECIMAL(15,2) NOT NULL,
    "notes" TEXT,

    CONSTRAINT "erp_cycle_count_lines_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_pos_sessions" (
    "id" TEXT NOT NULL,
    "session_number" TEXT NOT NULL,
    "opened_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "closed_at" TIMESTAMP(3),
    "status" TEXT NOT NULL DEFAULT 'open',
    "opened_by" TEXT NOT NULL,
    "closed_by" TEXT,
    "opening_balance" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "closing_balance" DECIMAL(15,2),
    "total_sales" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "total_refunds" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "cash_sales" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "card_sales" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "mobile_sales" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "credit_sales" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "currency" TEXT NOT NULL DEFAULT 'USD',
    "notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "branch_id" TEXT,

    CONSTRAINT "erp_pos_sessions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_pos_transactions" (
    "id" TEXT NOT NULL,
    "transaction_number" TEXT NOT NULL,
    "session_id" TEXT NOT NULL,
    "customer_id" TEXT,
    "customer_name" TEXT,
    "subtotal" DECIMAL(15,2) NOT NULL,
    "tax_amount" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "discount" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "total" DECIMAL(15,2) NOT NULL,
    "paid_amount" DECIMAL(15,2) NOT NULL,
    "change_amount" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "payment_method" TEXT NOT NULL DEFAULT 'cash',
    "status" TEXT NOT NULL DEFAULT 'completed',
    "currency" TEXT NOT NULL DEFAULT 'USD',
    "exchange_rate" DECIMAL(15,6) NOT NULL DEFAULT 1,
    "fiscalised_doc_id" TEXT,
    "posted_to_journal" BOOLEAN NOT NULL DEFAULT false,
    "notes" TEXT,
    "is_offline" BOOLEAN NOT NULL DEFAULT false,
    "synced_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "branch_id" TEXT,

    CONSTRAINT "erp_pos_transactions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_pos_transaction_lines" (
    "id" TEXT NOT NULL,
    "transaction_id" TEXT NOT NULL,
    "product_id" TEXT NOT NULL,
    "product_name" TEXT NOT NULL,
    "quantity" DECIMAL(15,2) NOT NULL,
    "unit_price" DECIMAL(15,2) NOT NULL,
    "total" DECIMAL(15,2) NOT NULL,
    "batch_no" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "erp_pos_transaction_lines_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_pos_payments" (
    "id" TEXT NOT NULL,
    "transaction_id" TEXT NOT NULL,
    "method" TEXT NOT NULL,
    "amount" DECIMAL(15,2) NOT NULL,
    "reference" TEXT,
    "currency" TEXT NOT NULL DEFAULT 'USD',
    "exchange_rate" DECIMAL(15,6) NOT NULL DEFAULT 1,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "erp_pos_payments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_quotations" (
    "id" TEXT NOT NULL,
    "quote_number" TEXT NOT NULL,
    "customer_id" TEXT NOT NULL,
    "customer_name" TEXT NOT NULL,
    "customer_email" TEXT,
    "quote_date" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "valid_until" TIMESTAMP(3),
    "status" TEXT NOT NULL DEFAULT 'draft',
    "subtotal" DECIMAL(15,2) NOT NULL,
    "tax_amount" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "discount" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "total" DECIMAL(15,2) NOT NULL,
    "currency" TEXT NOT NULL DEFAULT 'USD',
    "exchange_rate" DECIMAL(15,6) NOT NULL DEFAULT 1,
    "notes" TEXT,
    "terms" TEXT,
    "converted_to_id" TEXT,
    "created_by" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "branch_id" TEXT,

    CONSTRAINT "erp_quotations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_quotation_lines" (
    "id" TEXT NOT NULL,
    "quote_id" TEXT NOT NULL,
    "product_id" TEXT NOT NULL,
    "product_name" TEXT NOT NULL,
    "quantity" DECIMAL(15,2) NOT NULL,
    "unit_price" DECIMAL(15,2) NOT NULL,
    "total" DECIMAL(15,2) NOT NULL,

    CONSTRAINT "erp_quotation_lines_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_returns" (
    "id" TEXT NOT NULL,
    "return_number" TEXT NOT NULL,
    "return_date" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "customer_name" TEXT,
    "reference_type" TEXT NOT NULL DEFAULT 'direct',
    "reference_id" TEXT,
    "reason" TEXT,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "total" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "notes" TEXT,
    "created_by" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "branch_id" TEXT,

    CONSTRAINT "erp_returns_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_return_lines" (
    "id" TEXT NOT NULL,
    "return_id" TEXT NOT NULL,
    "product_id" TEXT NOT NULL,
    "product_name" TEXT NOT NULL,
    "quantity" DECIMAL(15,2) NOT NULL,
    "unit_price" DECIMAL(15,2) NOT NULL,
    "total" DECIMAL(15,2) NOT NULL,
    "reason" TEXT,
    "condition" TEXT NOT NULL DEFAULT 'good',

    CONSTRAINT "erp_return_lines_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_dispatch_notes" (
    "id" TEXT NOT NULL,
    "dispatch_no" TEXT NOT NULL,
    "sales_order_id" TEXT,
    "customer_id" TEXT,
    "customerName" TEXT,
    "dispatch_date" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "status" TEXT NOT NULL DEFAULT 'draft',
    "vehicle_no" TEXT,
    "driver_name" TEXT,
    "delivery_address" TEXT,
    "notes" TEXT,
    "created_by" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "branch_id" TEXT,

    CONSTRAINT "erp_dispatch_notes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_dispatch_note_lines" (
    "id" TEXT NOT NULL,
    "dispatch_id" TEXT NOT NULL,
    "product_id" TEXT NOT NULL,
    "product_name" TEXT NOT NULL,
    "quantity" DECIMAL(15,2) NOT NULL,
    "unit_price" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "batch_no" TEXT,

    CONSTRAINT "erp_dispatch_note_lines_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_product_histories" (
    "id" TEXT NOT NULL,
    "product_id" TEXT NOT NULL,
    "product_name" TEXT NOT NULL,
    "field" TEXT NOT NULL,
    "old_value" TEXT,
    "new_value" TEXT,
    "action" TEXT NOT NULL DEFAULT 'update',
    "user_id" TEXT NOT NULL,
    "user_name" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "erp_product_histories_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_stock_adjustments" (
    "id" TEXT NOT NULL,
    "adjustment_no" TEXT NOT NULL,
    "product_id" TEXT NOT NULL,
    "product_name" TEXT NOT NULL,
    "adjustment_type" TEXT NOT NULL,
    "quantity" DECIMAL(15,2) NOT NULL,
    "current_stock" DECIMAL(15,2) NOT NULL,
    "new_stock" DECIMAL(15,2) NOT NULL,
    "reason" TEXT,
    "reference_type" TEXT,
    "reference_id" TEXT,
    "notes" TEXT,
    "user_id" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "branch_id" TEXT,

    CONSTRAINT "erp_stock_adjustments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_stock_transfers" (
    "id" TEXT NOT NULL,
    "transfer_no" TEXT NOT NULL,
    "from_branch_id" TEXT NOT NULL,
    "to_branch_id" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'draft',
    "requested_by" TEXT NOT NULL,
    "approved_by" TEXT,
    "received_by" TEXT,
    "received_at" TIMESTAMP(3),
    "notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "erp_stock_transfers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_stock_transfer_lines" (
    "id" TEXT NOT NULL,
    "transfer_id" TEXT NOT NULL,
    "product_id" TEXT NOT NULL,
    "product_name" TEXT NOT NULL,
    "quantity" DECIMAL(15,2) NOT NULL,
    "batch_no" TEXT,
    "unit_price" DECIMAL(15,2) NOT NULL DEFAULT 0,

    CONSTRAINT "erp_stock_transfer_lines_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_inventory_counts" (
    "id" TEXT NOT NULL,
    "count_no" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'draft',
    "counted_by" TEXT NOT NULL,
    "approved_by" TEXT,
    "approved_at" TIMESTAMP(3),
    "notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "branch_id" TEXT,

    CONSTRAINT "erp_inventory_counts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_inventory_count_lines" (
    "id" TEXT NOT NULL,
    "count_id" TEXT NOT NULL,
    "product_id" TEXT NOT NULL,
    "product_name" TEXT NOT NULL,
    "system_qty" DECIMAL(15,2) NOT NULL,
    "counted_qty" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "variance" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "notes" TEXT,

    CONSTRAINT "erp_inventory_count_lines_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_inventory_forecasts" (
    "id" TEXT NOT NULL,
    "product_id" TEXT NOT NULL,
    "product_name" TEXT NOT NULL,
    "forecast_date" TIMESTAMP(3) NOT NULL,
    "predicted_demand" DECIMAL(15,2) NOT NULL,
    "confidence_level" DECIMAL(5,4) NOT NULL DEFAULT 0.8,
    "seasonal_pattern" TEXT,
    "reorder_point" DECIMAL(15,2),
    "reorder_quantity" DECIMAL(15,2),
    "predicted_stockout_date" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "branch_id" TEXT,

    CONSTRAINT "erp_inventory_forecasts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_sales_predictions" (
    "id" TEXT NOT NULL,
    "product_id" TEXT NOT NULL,
    "product_name" TEXT NOT NULL,
    "branch_id" TEXT,
    "predicted_date" TIMESTAMP(3) NOT NULL,
    "predicted_quantity" DECIMAL(15,2) NOT NULL,
    "predicted_amount" DECIMAL(15,2),
    "confidence_level" DECIMAL(5,4) NOT NULL DEFAULT 0.8,
    "trend" TEXT DEFAULT 'stable',
    "actual_quantity" DECIMAL(15,2),
    "variance" DECIMAL(15,4),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "erp_sales_predictions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_inventory_optimizations" (
    "id" TEXT NOT NULL,
    "product_id" TEXT NOT NULL,
    "product_name" TEXT NOT NULL,
    "branch_id" TEXT,
    "recommendation_type" TEXT NOT NULL,
    "current_stock" DECIMAL(15,2) NOT NULL,
    "suggested_action" TEXT NOT NULL,
    "suggested_qty" DECIMAL(15,2) NOT NULL,
    "reason" TEXT,
    "priority" TEXT NOT NULL DEFAULT 'medium',
    "is_applied" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "erp_inventory_optimizations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_alerts" (
    "id" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "severity" TEXT NOT NULL DEFAULT 'info',
    "reference_type" TEXT,
    "reference_id" TEXT,
    "is_read" BOOLEAN NOT NULL DEFAULT false,
    "read_at" TIMESTAMP(3),
    "user_id" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "branch_id" TEXT,

    CONSTRAINT "erp_alerts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_inventory_audit_logs" (
    "id" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "entity_type" TEXT NOT NULL,
    "entity_id" TEXT NOT NULL,
    "description" TEXT,
    "changes" JSONB,
    "user_id" TEXT NOT NULL,
    "user_name" TEXT,
    "ip_address" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "branch_id" TEXT,

    CONSTRAINT "erp_inventory_audit_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_employees" (
    "id" TEXT NOT NULL,
    "employee_no" TEXT NOT NULL,
    "first_name" TEXT NOT NULL,
    "last_name" TEXT NOT NULL,
    "email" TEXT,
    "phone" TEXT,
    "address" TEXT,
    "department" TEXT,
    "position" TEXT,
    "employment_type" TEXT NOT NULL DEFAULT 'permanent',
    "date_hired" TIMESTAMP(3) NOT NULL,
    "tin_number" TEXT,
    "nssa_number" TEXT,
    "nec_number" TEXT,
    "zimdef_number" TEXT,
    "basic_salary" DECIMAL(15,2) NOT NULL,
    "currency" TEXT NOT NULL DEFAULT 'USD',
    "bank_name" TEXT,
    "bank_account" TEXT,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "user_id" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "erp_employees_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_payroll_entries" (
    "id" TEXT NOT NULL,
    "employee_id" TEXT NOT NULL,
    "period" TEXT NOT NULL,
    "basic_pay" DECIMAL(15,2) NOT NULL,
    "overtime" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "allowances" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "gross_pay" DECIMAL(15,2) NOT NULL,
    "paye_tax" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "aids_levy" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "nssa_deduction" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "nec_deduction" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "zimdef_deduction" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "other_deductions" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "net_pay" DECIMAL(15,2) NOT NULL,
    "currency" TEXT NOT NULL DEFAULT 'USD',
    "status" TEXT NOT NULL DEFAULT 'draft',
    "paid_at" TIMESTAMP(3),
    "posted_to_zimra" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "erp_payroll_entries_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_attendance" (
    "id" TEXT NOT NULL,
    "employee_id" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL,
    "check_in" TIMESTAMP(3),
    "check_out" TIMESTAMP(3),
    "status" TEXT NOT NULL DEFAULT 'present',
    "notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "erp_attendance_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_leave_requests" (
    "id" TEXT NOT NULL,
    "employee_id" TEXT NOT NULL,
    "leave_type" TEXT NOT NULL,
    "start_date" TIMESTAMP(3) NOT NULL,
    "end_date" TIMESTAMP(3) NOT NULL,
    "days" INTEGER NOT NULL,
    "reason" TEXT,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "approved_by" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "erp_leave_requests_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_vehicles" (
    "id" TEXT NOT NULL,
    "plate_number" TEXT NOT NULL,
    "model" TEXT NOT NULL,
    "make" TEXT NOT NULL,
    "year" INTEGER,
    "vin" TEXT,
    "type" TEXT NOT NULL DEFAULT 'light_vehicle',
    "fuel_type" TEXT,
    "capacity" DECIMAL(15,2),
    "insurance_policy" TEXT,
    "insurance_expiry" TIMESTAMP(3),
    "licence_expiry" TIMESTAMP(3),
    "status" TEXT NOT NULL DEFAULT 'active',
    "assigned_driver" TEXT,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "current_odometer" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "latitude" DECIMAL(10,6),
    "longitude" DECIMAL(10,6),
    "speed" DECIMAL(5,2),
    "last_ping" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "erp_vehicles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_fuel_records" (
    "id" TEXT NOT NULL,
    "vehicle_id" TEXT NOT NULL,
    "refuel_date" TIMESTAMP(3) NOT NULL,
    "quantity" DECIMAL(15,2) NOT NULL,
    "unit_cost" DECIMAL(15,2) NOT NULL,
    "total_cost" DECIMAL(15,2) NOT NULL,
    "odometer" INTEGER,
    "fuel_type" TEXT,
    "vendor" TEXT,
    "notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "erp_fuel_records_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_service_records" (
    "id" TEXT NOT NULL,
    "vehicle_id" TEXT NOT NULL,
    "service_date" TIMESTAMP(3) NOT NULL,
    "service_type" TEXT NOT NULL,
    "description" TEXT,
    "odometer" INTEGER,
    "cost" DECIMAL(15,2) NOT NULL,
    "vendor" TEXT,
    "next_service_date" TIMESTAMP(3),
    "next_service_odometer" INTEGER,
    "notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "erp_service_records_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_vehicle_dispatches" (
    "id" TEXT NOT NULL,
    "vehicle_id" TEXT NOT NULL,
    "dispatched_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "returned_at" TIMESTAMP(3),
    "driver_name" TEXT NOT NULL,
    "driver_contact" TEXT,
    "origin" TEXT NOT NULL,
    "destination" TEXT NOT NULL,
    "purpose" TEXT,
    "start_odometer" INTEGER,
    "end_odometer" INTEGER,
    "distance_km" DECIMAL(10,2),
    "status" TEXT NOT NULL DEFAULT 'in_transit',
    "notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "erp_vehicle_dispatches_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_equipment" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "model" TEXT,
    "manufacturer" TEXT,
    "serial_no" TEXT,
    "location" TEXT,
    "purchase_date" TIMESTAMP(3),
    "purchase_cost" DECIMAL(15,2),
    "status" TEXT NOT NULL DEFAULT 'operational',
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "erp_equipment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_work_orders" (
    "id" TEXT NOT NULL,
    "wo_number" TEXT NOT NULL,
    "equipment_id" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "priority" TEXT NOT NULL DEFAULT 'medium',
    "description" TEXT NOT NULL,
    "assigned_to" TEXT,
    "scheduled_date" TIMESTAMP(3),
    "completed_at" TIMESTAMP(3),
    "labour_hours" DECIMAL(10,2),
    "labour_cost" DECIMAL(15,2),
    "parts_cost" DECIMAL(15,2),
    "total_cost" DECIMAL(15,2),
    "status" TEXT NOT NULL DEFAULT 'open',
    "failure_mode" TEXT,
    "downtime_hours" DECIMAL(10,2),
    "notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "erp_work_orders_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_work_order_parts" (
    "id" TEXT NOT NULL,
    "wo_id" TEXT NOT NULL,
    "product_id" TEXT NOT NULL,
    "product_name" TEXT NOT NULL,
    "quantity" DECIMAL(15,2) NOT NULL,
    "unit_cost" DECIMAL(15,2) NOT NULL,
    "total_cost" DECIMAL(15,2) NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "erp_work_order_parts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_chats" (
    "id" TEXT NOT NULL,
    "subject" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "erp_chats_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_chat_participants" (
    "id" TEXT NOT NULL,
    "chat_id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "joined_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "last_read_at" TIMESTAMP(3),

    CONSTRAINT "erp_chat_participants_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_chat_messages" (
    "id" TEXT NOT NULL,
    "chat_id" TEXT NOT NULL,
    "sender_id" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "attachments" JSON,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "erp_chat_messages_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_branches" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "address" TEXT,
    "city" TEXT,
    "country" TEXT,
    "phone" TEXT,
    "email" TEXT,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "erp_branches_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_users" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "role" TEXT NOT NULL DEFAULT 'user',
    "department" TEXT,
    "branch_id" TEXT,
    "mfa_enabled" BOOLEAN NOT NULL DEFAULT false,
    "mfa_secret" TEXT,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "last_login" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "erp_users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "system_settings" (
    "id" TEXT NOT NULL,
    "key" TEXT NOT NULL,
    "value" JSONB NOT NULL,
    "category" TEXT NOT NULL DEFAULT 'general',
    "description" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "system_settings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "fiscal_periods" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "start_date" TIMESTAMP(3) NOT NULL,
    "end_date" TIMESTAMP(3) NOT NULL,
    "is_closed" BOOLEAN NOT NULL DEFAULT false,
    "fiscal_year" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "fiscal_periods_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "saved_reports" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "config" JSONB NOT NULL,
    "created_by" TEXT NOT NULL,
    "is_public" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "saved_reports_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_asset_categories" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "depreciation" TEXT NOT NULL DEFAULT 'straight_line',
    "useful_life" INTEGER,
    "salvage_rate" DECIMAL(5,2),
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "erp_asset_categories_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_assets" (
    "id" TEXT NOT NULL,
    "asset_no" TEXT NOT NULL,
    "category_id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "model" TEXT,
    "serial_no" TEXT,
    "manufacturer" TEXT,
    "location" TEXT,
    "location_details" TEXT,
    "purchase_date" TIMESTAMP(3) NOT NULL,
    "purchase_cost" DECIMAL(15,2) NOT NULL,
    "salvage_value" DECIMAL(15,2) NOT NULL DEFAULT 0,
    "status" TEXT NOT NULL DEFAULT 'operational',
    "asset_condition" TEXT NOT NULL DEFAULT 'good',
    "assigned_to" TEXT,
    "assigned_to_name" TEXT,
    "custodian" TEXT,
    "barcode" TEXT,
    "qr_code" TEXT,
    "image_url" TEXT,
    "warranty_expiry" TIMESTAMP(3),
    "last_inspection" TIMESTAMP(3),
    "next_inspection" TIMESTAMP(3),
    "insurance_no" TEXT,
    "insurance_expiry" TIMESTAMP(3),
    "depreciation_method" TEXT NOT NULL DEFAULT 'straight_line',
    "useful_life_years" INTEGER,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "is_audited" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "branch_id" TEXT,

    CONSTRAINT "erp_assets_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_asset_depreciation" (
    "id" TEXT NOT NULL,
    "asset_id" TEXT NOT NULL,
    "period" TEXT NOT NULL,
    "opening_value" DECIMAL(15,2) NOT NULL,
    "depreciation_exp" DECIMAL(15,2) NOT NULL,
    "closing_value" DECIMAL(15,2) NOT NULL,
    "journal_entry_id" TEXT,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "erp_asset_depreciation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_asset_maintenance" (
    "id" TEXT NOT NULL,
    "maintenance_no" TEXT NOT NULL,
    "asset_id" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "maintenance_date" TIMESTAMP(3) NOT NULL,
    "description" TEXT,
    "performed_by" TEXT,
    "cost" DECIMAL(15,2) NOT NULL,
    "vendor" TEXT,
    "next_date" TIMESTAMP(3),
    "status" TEXT NOT NULL DEFAULT 'completed',
    "notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "branch_id" TEXT,

    CONSTRAINT "erp_asset_maintenance_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_asset_transfers" (
    "id" TEXT NOT NULL,
    "transfer_no" TEXT NOT NULL,
    "asset_id" TEXT NOT NULL,
    "from_location" TEXT NOT NULL,
    "to_location" TEXT NOT NULL,
    "transfer_date" TIMESTAMP(3) NOT NULL,
    "transfer_reason" TEXT,
    "transferred_by" TEXT NOT NULL,
    "received_by" TEXT,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "erp_asset_transfers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_asset_checkouts" (
    "id" TEXT NOT NULL,
    "checkout_no" TEXT NOT NULL,
    "asset_id" TEXT NOT NULL,
    "checked_out_by" TEXT NOT NULL,
    "checked_out_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "checked_in_at" TIMESTAMP(3),
    "checked_in_by" TEXT,
    "expected_return" TIMESTAMP(3),
    "purpose" TEXT,
    "status" TEXT NOT NULL DEFAULT 'active',
    "condition" TEXT NOT NULL DEFAULT 'good',
    "notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "erp_asset_checkouts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_asset_audit_logs" (
    "id" TEXT NOT NULL,
    "asset_id" TEXT NOT NULL,
    "audit_date" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "audited_by" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'present',
    "condition" TEXT,
    "location" TEXT,
    "remarks" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "branch_id" TEXT,

    CONSTRAINT "erp_asset_audit_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_prepaid_fuel" (
    "id" TEXT NOT NULL,
    "fuel_type" TEXT NOT NULL,
    "balance_liters" DECIMAL(15,2) NOT NULL,
    "current_price_per_liter" DECIMAL(15,2) NOT NULL,
    "last_top_up_amount" DECIMAL(15,2) NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "erp_prepaid_fuel_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_prepaid_fuel_logs" (
    "id" TEXT NOT NULL,
    "fuel_type" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "quantity" DECIMAL(15,2) NOT NULL,
    "price_per_liter" DECIMAL(15,2) NOT NULL,
    "amount" DECIMAL(15,2) NOT NULL,
    "notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "erp_prepaid_fuel_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_fuel_requisitions" (
    "id" TEXT NOT NULL,
    "vehicle_id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "user_name" TEXT NOT NULL,
    "fuel_type" TEXT NOT NULL DEFAULT 'Diesel',
    "liters_requested" DECIMAL(15,2) NOT NULL,
    "status" TEXT NOT NULL,
    "purpose" TEXT NOT NULL,
    "approved_by" TEXT,
    "treasurer_approved_by" TEXT,
    "finance_manager_approved_by" TEXT,
    "qr_code_url" TEXT,
    "redeem_token" TEXT,
    "gas_station" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "erp_fuel_requisitions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "erp_hauling_trips" (
    "id" TEXT NOT NULL,
    "vehicle_id" TEXT NOT NULL,
    "driver_name" TEXT NOT NULL,
    "source_warehouse_id" TEXT,
    "source_warehouse_name" TEXT,
    "destination_branch_id" TEXT,
    "destination_branch_name" TEXT,
    "status" TEXT NOT NULL,
    "product_details" TEXT NOT NULL,
    "departure_time" TIMESTAMP(3),
    "arrival_time" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "erp_hauling_trips_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "tax_types_code_key" ON "tax_types"("code");

-- CreateIndex
CREATE UNIQUE INDEX "withholding_tax_certificates_certificate_no_key" ON "withholding_tax_certificates"("certificate_no");

-- CreateIndex
CREATE UNIQUE INDEX "fdms_devices_device_id_key" ON "fdms_devices"("device_id");

-- CreateIndex
CREATE UNIQUE INDEX "fdms_devices_serial_no_key" ON "fdms_devices"("serial_no");

-- CreateIndex
CREATE UNIQUE INDEX "erp_chart_of_accounts_code_key" ON "erp_chart_of_accounts"("code");

-- CreateIndex
CREATE UNIQUE INDEX "erp_journal_entries_entry_number_key" ON "erp_journal_entries"("entry_number");

-- CreateIndex
CREATE UNIQUE INDEX "erp_accounts_receivable_invoice_number_key" ON "erp_accounts_receivable"("invoice_number");

-- CreateIndex
CREATE UNIQUE INDEX "erp_accounts_payable_bill_number_key" ON "erp_accounts_payable"("bill_number");

-- CreateIndex
CREATE UNIQUE INDEX "erp_cashbook_entry_number_key" ON "erp_cashbook"("entry_number");

-- CreateIndex
CREATE UNIQUE INDEX "erp_products_code_key" ON "erp_products"("code");

-- CreateIndex
CREATE UNIQUE INDEX "erp_sales_orders_order_number_key" ON "erp_sales_orders"("order_number");

-- CreateIndex
CREATE UNIQUE INDEX "erp_purchase_orders_po_number_key" ON "erp_purchase_orders"("po_number");

-- CreateIndex
CREATE UNIQUE INDEX "erp_goods_receipts_receipt_no_key" ON "erp_goods_receipts"("receipt_no");

-- CreateIndex
CREATE UNIQUE INDEX "erp_purchase_requisitions_requisition_no_key" ON "erp_purchase_requisitions"("requisition_no");

-- CreateIndex
CREATE UNIQUE INDEX "erp_customers_code_key" ON "erp_customers"("code");

-- CreateIndex
CREATE UNIQUE INDEX "erp_customers_loyalty_card_barcode_key" ON "erp_customers"("loyalty_card_barcode");

-- CreateIndex
CREATE UNIQUE INDEX "erp_suppliers_code_key" ON "erp_suppliers"("code");

-- CreateIndex
CREATE UNIQUE INDEX "erp_supplier_contracts_contract_no_key" ON "erp_supplier_contracts"("contract_no");

-- CreateIndex
CREATE UNIQUE INDEX "erp_warehouses_code_key" ON "erp_warehouses"("code");

-- CreateIndex
CREATE UNIQUE INDEX "erp_warehouse_stocks_warehouse_id_product_id_batch_no_key" ON "erp_warehouse_stocks"("warehouse_id", "product_id", "batch_no");

-- CreateIndex
CREATE UNIQUE INDEX "erp_stock_movements_movement_no_key" ON "erp_stock_movements"("movement_no");

-- CreateIndex
CREATE UNIQUE INDEX "erp_cycle_counts_count_no_key" ON "erp_cycle_counts"("count_no");

-- CreateIndex
CREATE UNIQUE INDEX "erp_pos_sessions_session_number_key" ON "erp_pos_sessions"("session_number");

-- CreateIndex
CREATE UNIQUE INDEX "erp_pos_transactions_transaction_number_key" ON "erp_pos_transactions"("transaction_number");

-- CreateIndex
CREATE UNIQUE INDEX "erp_pos_transactions_fiscalised_doc_id_key" ON "erp_pos_transactions"("fiscalised_doc_id");

-- CreateIndex
CREATE UNIQUE INDEX "erp_quotations_quote_number_key" ON "erp_quotations"("quote_number");

-- CreateIndex
CREATE UNIQUE INDEX "erp_returns_return_number_key" ON "erp_returns"("return_number");

-- CreateIndex
CREATE UNIQUE INDEX "erp_dispatch_notes_dispatch_no_key" ON "erp_dispatch_notes"("dispatch_no");

-- CreateIndex
CREATE UNIQUE INDEX "erp_stock_adjustments_adjustment_no_key" ON "erp_stock_adjustments"("adjustment_no");

-- CreateIndex
CREATE UNIQUE INDEX "erp_stock_transfers_transfer_no_key" ON "erp_stock_transfers"("transfer_no");

-- CreateIndex
CREATE UNIQUE INDEX "erp_inventory_counts_count_no_key" ON "erp_inventory_counts"("count_no");

-- CreateIndex
CREATE UNIQUE INDEX "erp_employees_employee_no_key" ON "erp_employees"("employee_no");

-- CreateIndex
CREATE UNIQUE INDEX "erp_vehicles_plate_number_key" ON "erp_vehicles"("plate_number");

-- CreateIndex
CREATE UNIQUE INDEX "erp_equipment_code_key" ON "erp_equipment"("code");

-- CreateIndex
CREATE UNIQUE INDEX "erp_work_orders_wo_number_key" ON "erp_work_orders"("wo_number");

-- CreateIndex
CREATE UNIQUE INDEX "erp_chat_participants_chat_id_user_id_key" ON "erp_chat_participants"("chat_id", "user_id");

-- CreateIndex
CREATE UNIQUE INDEX "erp_branches_code_key" ON "erp_branches"("code");

-- CreateIndex
CREATE UNIQUE INDEX "erp_users_email_key" ON "erp_users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "system_settings_key_key" ON "system_settings"("key");

-- CreateIndex
CREATE UNIQUE INDEX "fiscal_periods_code_key" ON "fiscal_periods"("code");

-- CreateIndex
CREATE UNIQUE INDEX "erp_asset_categories_code_key" ON "erp_asset_categories"("code");

-- CreateIndex
CREATE UNIQUE INDEX "erp_assets_asset_no_key" ON "erp_assets"("asset_no");

-- CreateIndex
CREATE UNIQUE INDEX "erp_assets_barcode_key" ON "erp_assets"("barcode");

-- CreateIndex
CREATE UNIQUE INDEX "erp_asset_maintenance_maintenance_no_key" ON "erp_asset_maintenance"("maintenance_no");

-- CreateIndex
CREATE UNIQUE INDEX "erp_asset_transfers_transfer_no_key" ON "erp_asset_transfers"("transfer_no");

-- CreateIndex
CREATE UNIQUE INDEX "erp_asset_checkouts_checkout_no_key" ON "erp_asset_checkouts"("checkout_no");

-- AddForeignKey
ALTER TABLE "tax_transactions" ADD CONSTRAINT "tax_transactions_tax_type_id_fkey" FOREIGN KEY ("tax_type_id") REFERENCES "tax_types"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tax_transactions" ADD CONSTRAINT "tax_transactions_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "erp_branches"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "fdms_devices" ADD CONSTRAINT "fdms_devices_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "erp_branches"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "fiscalised_documents" ADD CONSTRAINT "fiscalised_documents_device_id_fkey" FOREIGN KEY ("device_id") REFERENCES "fdms_devices"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "fiscalised_documents" ADD CONSTRAINT "fiscalised_documents_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "erp_branches"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_chart_of_accounts" ADD CONSTRAINT "erp_chart_of_accounts_parent_id_fkey" FOREIGN KEY ("parent_id") REFERENCES "erp_chart_of_accounts"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_journal_entries" ADD CONSTRAINT "erp_journal_entries_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "erp_branches"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_journal_lines" ADD CONSTRAINT "erp_journal_lines_entry_id_fkey" FOREIGN KEY ("entry_id") REFERENCES "erp_journal_entries"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_journal_lines" ADD CONSTRAINT "erp_journal_lines_account_id_fkey" FOREIGN KEY ("account_id") REFERENCES "erp_chart_of_accounts"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_accounts_receivable" ADD CONSTRAINT "erp_accounts_receivable_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "erp_branches"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_accounts_payable" ADD CONSTRAINT "erp_accounts_payable_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "erp_branches"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_cashbook" ADD CONSTRAINT "erp_cashbook_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "erp_branches"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_products" ADD CONSTRAINT "erp_products_category_id_fkey" FOREIGN KEY ("category_id") REFERENCES "erp_product_categories"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_products" ADD CONSTRAINT "erp_products_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "erp_branches"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_product_batches" ADD CONSTRAINT "erp_product_batches_product_id_fkey" FOREIGN KEY ("product_id") REFERENCES "erp_products"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_sales_orders" ADD CONSTRAINT "erp_sales_orders_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "erp_branches"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_sales_order_lines" ADD CONSTRAINT "erp_sales_order_lines_order_id_fkey" FOREIGN KEY ("order_id") REFERENCES "erp_sales_orders"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_purchase_orders" ADD CONSTRAINT "erp_purchase_orders_requisition_id_fkey" FOREIGN KEY ("requisition_id") REFERENCES "erp_purchase_requisitions"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_purchase_orders" ADD CONSTRAINT "erp_purchase_orders_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "erp_branches"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_purchase_order_lines" ADD CONSTRAINT "erp_purchase_order_lines_po_id_fkey" FOREIGN KEY ("po_id") REFERENCES "erp_purchase_orders"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_goods_receipts" ADD CONSTRAINT "erp_goods_receipts_po_id_fkey" FOREIGN KEY ("po_id") REFERENCES "erp_purchase_orders"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_goods_receipts" ADD CONSTRAINT "erp_goods_receipts_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "erp_branches"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_goods_receipt_lines" ADD CONSTRAINT "erp_goods_receipt_lines_receipt_id_fkey" FOREIGN KEY ("receipt_id") REFERENCES "erp_goods_receipts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_purchase_requisitions" ADD CONSTRAINT "erp_purchase_requisitions_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "erp_branches"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_purchase_requisition_items" ADD CONSTRAINT "erp_purchase_requisition_items_requisition_id_fkey" FOREIGN KEY ("requisition_id") REFERENCES "erp_purchase_requisitions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_customers" ADD CONSTRAINT "erp_customers_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "erp_branches"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_leads" ADD CONSTRAINT "erp_leads_customer_id_fkey" FOREIGN KEY ("customer_id") REFERENCES "erp_customers"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_lead_interactions" ADD CONSTRAINT "erp_lead_interactions_lead_id_fkey" FOREIGN KEY ("lead_id") REFERENCES "erp_leads"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_suppliers" ADD CONSTRAINT "erp_suppliers_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "erp_branches"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_supplier_contracts" ADD CONSTRAINT "erp_supplier_contracts_supplier_id_fkey" FOREIGN KEY ("supplier_id") REFERENCES "erp_suppliers"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_warehouse_zones" ADD CONSTRAINT "erp_warehouse_zones_warehouse_id_fkey" FOREIGN KEY ("warehouse_id") REFERENCES "erp_warehouses"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_warehouse_stocks" ADD CONSTRAINT "erp_warehouse_stocks_warehouse_id_fkey" FOREIGN KEY ("warehouse_id") REFERENCES "erp_warehouses"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_warehouse_stocks" ADD CONSTRAINT "erp_warehouse_stocks_product_id_fkey" FOREIGN KEY ("product_id") REFERENCES "erp_products"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_stock_movements" ADD CONSTRAINT "erp_stock_movements_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "erp_branches"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_cycle_counts" ADD CONSTRAINT "erp_cycle_counts_warehouse_id_fkey" FOREIGN KEY ("warehouse_id") REFERENCES "erp_warehouses"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_cycle_count_lines" ADD CONSTRAINT "erp_cycle_count_lines_count_id_fkey" FOREIGN KEY ("count_id") REFERENCES "erp_cycle_counts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_pos_sessions" ADD CONSTRAINT "erp_pos_sessions_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "erp_branches"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_pos_transactions" ADD CONSTRAINT "erp_pos_transactions_session_id_fkey" FOREIGN KEY ("session_id") REFERENCES "erp_pos_sessions"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_pos_transactions" ADD CONSTRAINT "erp_pos_transactions_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "erp_branches"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_pos_transactions" ADD CONSTRAINT "erp_pos_transactions_fiscalised_doc_id_fkey" FOREIGN KEY ("fiscalised_doc_id") REFERENCES "fiscalised_documents"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_pos_transaction_lines" ADD CONSTRAINT "erp_pos_transaction_lines_transaction_id_fkey" FOREIGN KEY ("transaction_id") REFERENCES "erp_pos_transactions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_pos_payments" ADD CONSTRAINT "erp_pos_payments_transaction_id_fkey" FOREIGN KEY ("transaction_id") REFERENCES "erp_pos_transactions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_quotations" ADD CONSTRAINT "erp_quotations_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "erp_branches"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_quotation_lines" ADD CONSTRAINT "erp_quotation_lines_quote_id_fkey" FOREIGN KEY ("quote_id") REFERENCES "erp_quotations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_returns" ADD CONSTRAINT "erp_returns_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "erp_branches"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_return_lines" ADD CONSTRAINT "erp_return_lines_return_id_fkey" FOREIGN KEY ("return_id") REFERENCES "erp_returns"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_dispatch_notes" ADD CONSTRAINT "erp_dispatch_notes_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "erp_branches"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_dispatch_note_lines" ADD CONSTRAINT "erp_dispatch_note_lines_dispatch_id_fkey" FOREIGN KEY ("dispatch_id") REFERENCES "erp_dispatch_notes"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_stock_adjustments" ADD CONSTRAINT "erp_stock_adjustments_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "erp_branches"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_stock_transfers" ADD CONSTRAINT "erp_stock_transfers_from_branch_id_fkey" FOREIGN KEY ("from_branch_id") REFERENCES "erp_branches"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_stock_transfers" ADD CONSTRAINT "erp_stock_transfers_to_branch_id_fkey" FOREIGN KEY ("to_branch_id") REFERENCES "erp_branches"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_stock_transfer_lines" ADD CONSTRAINT "erp_stock_transfer_lines_transfer_id_fkey" FOREIGN KEY ("transfer_id") REFERENCES "erp_stock_transfers"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_inventory_counts" ADD CONSTRAINT "erp_inventory_counts_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "erp_branches"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_inventory_count_lines" ADD CONSTRAINT "erp_inventory_count_lines_count_id_fkey" FOREIGN KEY ("count_id") REFERENCES "erp_inventory_counts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_inventory_forecasts" ADD CONSTRAINT "erp_inventory_forecasts_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "erp_branches"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_sales_predictions" ADD CONSTRAINT "erp_sales_predictions_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "erp_branches"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_inventory_optimizations" ADD CONSTRAINT "erp_inventory_optimizations_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "erp_branches"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_alerts" ADD CONSTRAINT "erp_alerts_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "erp_branches"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_inventory_audit_logs" ADD CONSTRAINT "erp_inventory_audit_logs_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "erp_branches"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_payroll_entries" ADD CONSTRAINT "erp_payroll_entries_employee_id_fkey" FOREIGN KEY ("employee_id") REFERENCES "erp_employees"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_attendance" ADD CONSTRAINT "erp_attendance_employee_id_fkey" FOREIGN KEY ("employee_id") REFERENCES "erp_employees"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_leave_requests" ADD CONSTRAINT "erp_leave_requests_employee_id_fkey" FOREIGN KEY ("employee_id") REFERENCES "erp_employees"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_fuel_records" ADD CONSTRAINT "erp_fuel_records_vehicle_id_fkey" FOREIGN KEY ("vehicle_id") REFERENCES "erp_vehicles"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_service_records" ADD CONSTRAINT "erp_service_records_vehicle_id_fkey" FOREIGN KEY ("vehicle_id") REFERENCES "erp_vehicles"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_vehicle_dispatches" ADD CONSTRAINT "erp_vehicle_dispatches_vehicle_id_fkey" FOREIGN KEY ("vehicle_id") REFERENCES "erp_vehicles"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_work_orders" ADD CONSTRAINT "erp_work_orders_equipment_id_fkey" FOREIGN KEY ("equipment_id") REFERENCES "erp_equipment"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_work_order_parts" ADD CONSTRAINT "erp_work_order_parts_wo_id_fkey" FOREIGN KEY ("wo_id") REFERENCES "erp_work_orders"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_chat_participants" ADD CONSTRAINT "erp_chat_participants_chat_id_fkey" FOREIGN KEY ("chat_id") REFERENCES "erp_chats"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_chat_participants" ADD CONSTRAINT "erp_chat_participants_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "erp_users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_chat_messages" ADD CONSTRAINT "erp_chat_messages_chat_id_fkey" FOREIGN KEY ("chat_id") REFERENCES "erp_chats"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_chat_messages" ADD CONSTRAINT "erp_chat_messages_sender_id_fkey" FOREIGN KEY ("sender_id") REFERENCES "erp_users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_users" ADD CONSTRAINT "erp_users_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "erp_branches"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_assets" ADD CONSTRAINT "erp_assets_category_id_fkey" FOREIGN KEY ("category_id") REFERENCES "erp_asset_categories"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_assets" ADD CONSTRAINT "erp_assets_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "erp_branches"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_asset_depreciation" ADD CONSTRAINT "erp_asset_depreciation_asset_id_fkey" FOREIGN KEY ("asset_id") REFERENCES "erp_assets"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_asset_maintenance" ADD CONSTRAINT "erp_asset_maintenance_asset_id_fkey" FOREIGN KEY ("asset_id") REFERENCES "erp_assets"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_asset_maintenance" ADD CONSTRAINT "erp_asset_maintenance_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "erp_branches"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_asset_transfers" ADD CONSTRAINT "erp_asset_transfers_asset_id_fkey" FOREIGN KEY ("asset_id") REFERENCES "erp_assets"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_asset_checkouts" ADD CONSTRAINT "erp_asset_checkouts_asset_id_fkey" FOREIGN KEY ("asset_id") REFERENCES "erp_assets"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_asset_audit_logs" ADD CONSTRAINT "erp_asset_audit_logs_asset_id_fkey" FOREIGN KEY ("asset_id") REFERENCES "erp_assets"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_asset_audit_logs" ADD CONSTRAINT "erp_asset_audit_logs_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "erp_branches"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_fuel_requisitions" ADD CONSTRAINT "erp_fuel_requisitions_vehicle_id_fkey" FOREIGN KEY ("vehicle_id") REFERENCES "erp_vehicles"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "erp_hauling_trips" ADD CONSTRAINT "erp_hauling_trips_vehicle_id_fkey" FOREIGN KEY ("vehicle_id") REFERENCES "erp_vehicles"("id") ON DELETE CASCADE ON UPDATE CASCADE;

